/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

blockquote {
  color: #6F6F6F;
  font-style: italic;
}

a.locale_link {
  background-color: silver;
  border: 1px dotted green;
  border-radius: 5px 5px 5px 5px;
  bottom: 0;
  height: 30px;
  padding-left: 20px;
  position: fixed;
  width: 50px;
}