// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main_width: 960px;

div#main {
  background-color: green;
  color : black;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  width: $main_width;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  
}

body.categories {
  // Add the categories class to your body tag
  // Then, place scoped styles here.
}

div.category {
  background-color: gray;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 10px;
    position: relative;
    width: $main_width - 20;
    height: 80px;
}

div.name_category {
  color: black;
  float: left;
  font-size: 25px;
  height: 70%;
  margin-left: 30px;
  position: relative;
  width: 40%;
  margin-top: 10px;
}

div.edit_category {
  float: right;
  position: relative;
  margin-right: 30px;

}

div.destroy_category {
  float: right;
  position: relative;
  margin-right: 30px;

}

a.btn {
  background-color: gray;        
  border: 1px solid black;       
  border-radius: 5px 5px 5px 5px;
  float: left;                  
  min-height: 50px;                 
  margin: 10px;                 
  padding-left: 10px;           
  padding-top: 5px;             
  width: 100px;                      
}

div.fred {
  background-color: gray;
  border-radius: 5px 5px 5px 5px;
  float: right;
  margin: 10px;
  position: relative;
  width: $main_width - 220;
  height: 80px;
}

div.name_fred {
  clear: both;
  color: black;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 10px;
  position: relative;
}

div.formular {
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  margin-left: 170px;
  margin-top: 70px;
  min-height: 250px;
  padding: 30px;
  position: relative;
  width: 550px;
}

h1.form_headline {
  margin-left: 350px;
  padding-top: 30px;
}

div.statistics_of_fred {
  margin-left: 10px;
}

div.last_posts {
  border-radius: 5px;
  -mox-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}

div.nothing_to_see {
  margin-left: auto;
  margin-right: auto;
}

div.latest_posts {
  border: 1px solid white;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  position: relative;
  width: 97%;
}

div.count_kinds {
  float: left;
  margin-top: 25px;
  position: relative;
}