// Place all the styles related to the Freds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$post_width: 930px;

body.freds {
  // Add the freds class to your body tag
  // Then, place scoped styles here.
}

div.initial_post{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  min-height: 150px;
  margin-left: 15px;
  position: relative;
  overflow: hidden;
}

div.author_info{
  border-right: 1px solid red;
  float: left;
  margin-left: 10px;
  position: relative;
}
div.actual_post{
  position: relative;
}
div.posting_head{
  border-bottom: 1px solid red;
  clear: both;
  padding-left: 10px;
  position: relative;
}
div.post_body{
  clear: both;
  padding-left: 10px;
  position: relative;
}

div.post_footer{
  float: right;
  position: relative;
}

div.reply_post{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  min-height: 150px;
  margin-left: 25px;
  position: relative;
}

div.post_headline{
  margin-left: 420px;
  padding-top: 20px;
}