<div class="new_buttons">
  <% if can? :manage, @categories %>
    <%=  link_to t(:new_category), new_category_path(0), :class => 'btn' %>
  <% end %>
</div>

<%= render :partial 'categories' %>

<div class="latest_posts">
<%= render :partial => 'latest' %>  
</div>


<br />