<h1>Listing categories</h1>

<table>


<% @categories.each do |category| %>
  <div class="category">
    <div class="name_category"><%= link_to category.name, category_path(category) %></div>
    <div class="edit_category"><%= link_to 'Edit', edit_category_path(category) %></div>
    <div class = "destroy_category"><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></div>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Category', new_category_path %>
