<div class="new_buttons">
  <% if can? :manage, @categories %>
    <%=  link_to t(:new_category), new_category_path(0), :class => 'btn' %>
  <% end %>
</div>
<% unless Category.first.nil? #this should check if Category has categories in it, if not, the code is obsolete%>
    <%= render :partial => 'categories' %>
    <%= render :partial => 'latest' %>
<% else %>
    <% flash.now[:notice] = t(:nothing_to_see) #else does your flash message%>
<% end %>

<br />