<% unless Post.where(:post_id => node[:id]).empty? %>
<div class="reply_post">
<% end %>
<% node = Post.where(:post_id => node[:id]).order("created_at DESC")
    node.each do |reply|  %>
<%= render :partial => 'posts', :locals => {:reply => reply} %>
<%= render :partial => 'post', :locals => {:node => reply}  %>
<% end  %>
<% unless node.empty?  %>
</div>
<% end %>

